# --- Dependencias de Node.js (Frontend y Backend) ---
node_modules/
dist/
build/
.npm/

# --- Python (Microservicio IA) ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.venv

# --- Base de Datos y Archivos Locales ---
*.sqlite3
*.db
*.sqlite
.env
.DS_Store

# --- Archivos subidos (Uploads) ---
# Ignoramos las fotos que subís probando, pero mantenemos la carpeta
backend/uploads/*
!backend/uploads/.gitkeep

# --- Logs ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDEs ---
.vscode/
.idea/